---
const { labels } = Astro.props;
---

<nav class="flex my-5 -ml-2" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    {
      labels.map((label: any, i: number) => (
        <li class="inline-flex items-center">
          {i !== 0 && (
            <svg
              aria-hidden="true"
              class="w-6 h-6 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          )}
          <a
            class="ml-2 inline-flex items-center text-md font-medium text-gray-700 hover:text-blue-700"
            href={label.href}
          >
            {label.name}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
